[Unit]
Description=SteamDeck Plugin Manager

[Service]
Type=simple

ExecStart=/usr/bin/python3 /home/deck/homebrew/services/plugin_loader/main.py
WorkingDirectory=/home/deck/homebrew/services/plugin_loader

Environment=PLUGIN_PATH=/home/deck/homebrew/plugins

[Install]
WantedBy=default.target
